{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3> Learn Flask with me </h3>

<p>Flask is an API of Python that allows us to build up web-applications. This web application can be some web pages, a blog, a wiki or go as big as a web-based calendar application or a commercial website.It was developed by Armin Ronacher. Flask's framework is more explicit than Django's framework and is also easier to learn because it has less base code to implement a simple web-Application.</p>
<p>This site contains all the information you need to become a master of Flask apps</p>

{% endblock %}
